* {
  box-sizing: border-box;
}

h5 {
  font-weight: bold;
}

div.form-group, .results {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  margin-bottom: 20px;
}

.ruby, .python, .c-sharp {
  display: none;
}